services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      - dnsmasq
    networks:
      default:
        ipv4_address: 172.16.31.250
    dns:
      - 172.16.31.254
    environment:
      PB_URL: ${PB_URL:?}
      PB_USER: ${PB_USER:?}
      PB_PASS: ${PB_PASS:?}
      WEBHOOK_URL: ${WEBHOOK_URL}
    labels:
      traefik.http.middlewares.rblchecker-auth.basicauth.users: "spinworks:$2y$05$NO1sfOJzjTeV.S4qDtalZ.5JfYHMpm3.W.d7gRq0kJ.Pndpe2h37."
    healthcheck:
      test: ["CMD", "wget", "--spider", "--quiet", "--tries=1", "--timeout=5", "http://127.0.0.1:3000/health"]
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 10s

  dnsmasq:
    image: klutchell/unbound
    cap_add:
      - NET_ADMIN
    networks:
      default:
        ipv4_address: 172.16.31.254
    healthcheck:
      test: ['CMD', 'drill-hc', '@127.0.0.1', 'dnssec.works']
      interval: 30s
      timeout: 30s
      retries: 3
      start_period: 30s
    volumes:
      - ./unbound.conf:/etc/unbound/custom.conf.d/dnsbl.conf

networks:
  default:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 172.16.31.0/24