services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      - dnsmasq
    networks:
      default:
        ipv4_address: 172.16.31.250
    dns:
      - 172.16.31.254
    environment:
      PB_URL: ${PB_URL:?}
      PB_USER: ${PB_USER:?}
      PB_PASS: ${PB_PASS:?}
      WEBHOOK_URL: ${WEBHOOK_URL}
    labels:
      traefik.http.middlewares.rblchecker-auth.basicauth.users: "spinworks:$2y$05$NO1sfOJzjTeV.S4qDtalZ.5JfYHMpm3.W.d7gRq0kJ.Pndpe2h37."

  dnsmasq:
    image: 4km3/dnsmasq:latest
    cap_add:
      - NET_ADMIN
    networks:
      default:
        ipv4_address: 172.16.31.254
    dns:
      - 1.1.1.1
      - 8.8.8.8

#  uncomment to enable cron via ofelia
#  scheduler:
#    image: mcuadros/ofelia:latest
#    depends_on:
#      - app
#    command: daemon --docker
#    volumes:
#      - /var/run/docker.sock:/var/run/docker.sock:ro
#    labels:
#      ofelia.job-local.check.schedule: "*/30 * * * *"
#      ofelia.job-local.check.container: "rbl-checker"
#      ofelia.job-local.check.command: "bun /app/checker.ts"

networks:
  default:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 172.16.31.0/24