services:
  app:
    build: .
    name: rbl-checker
    depends_on:
      - dnsmasq
    environment:
      - DNS_SERVER=dnsmasq
      - PB_URL=https://yourpb.domain.com
      - PB_USER=admin@domain.com
      - PB_PASS=YOUR_SUPER_STRONG_PASS
      - WEBHOOK_URL=https://yourn8n.domain.com

  dnsmasq:
    image: andyshinn/dnsmasq:2.80
    command: -k --log-facility=- --log-queries
    cap_add:
      - NET_ADMIN
    networks:
      default:
        ipv4_address: 172.28.1.253
    dns:
      - 1.1.1.1
      - 8.8.8.8
  
  scheduler:
    image: mcuadros/ofelia:latest
    depends_on:
      - app
    command: daemon --docker
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    labels:
      ofelia.job-local.check.schedule: "*/30 * * * *"
      ofelia.job-local.check.container: "rbl-checker"
      ofelia.job-local.check.command: "bun /app/checker.ts"